<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <title></title>
</head>

<body>
  <div class="box" id="heading">
    <h1><%= currlist %></h1>
  </div>
<div class="box">
  <% tasklist_e.forEach(element => { %>  
    <form action="/delete" method="post">  
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= element._id %>" onchange="this.form.submit()">
      <p>
        <%= element.name; %>
      </p>
    </div>
    <input type="hidden" name="list_id" value="<%= currlist %>">
  </form>
  <% }); %>  
  <form class="list_item item" action="/" method="post">
    <input type="text" id="taskTitle" class="form-control" placeholder="Add some tasks" name="task" required autofocus>
    <button class="add_task" value="<%= currlist %>" name="list" type="submit">+</button>
  </form>
</div>


</body>

</html>
